// update Bulma's global variables
$primary: DodgerBlue;
$link: $primary;

// import Bulma and dark mode
@import '../../node_modules/bulma/bulma.sass';
@import '../../node_modules/bulma-prefers-dark/bulma-prefers-dark.sass';

// ------------------------------ custom styles -------------------------------
body {
	min-height: 100vh;
}
