// update Bulma's global variables
$primary: DodgerBlue;
$link: $primary;
$navbar-height: 5rem;
$navbar-item-img-max-height: $navbar-height * 0.65;

// import Bulma and dark mode
@import '../../node_modules/bulma/bulma.sass';
// @import '../../node_modules/bulma-prefers-dark/bulma-prefers-dark.sass';

// ------------------------------ custom styles -------------------------------
body {
	min-height: 100vh;
}

.is-mega {
	font-size: 6rem;
}

#laptop {
	background: url('../assets/video.gif') no-repeat top left transparent;
	background-position: 50% 50%;
	background-size: 77% 77%;
}

#canvas {
	height: 20rem;
	width: 100vw;
}

// #laptop {
// 	width: 100%;
// 	height: 100%;
// 	position: relative;

// 	&:after {
// 		content: '';
// 		display: block;
// 		background: url('../images/laptop.png') no-repeat top left transparent;
// 		background-size: contain;
// 		background-position: 50%;
// 		width: 100%;
// 		height: 100%;
// 		left: 0px;
// 		top: 0px;
// 		position: absolute;
// 		z-index: 10;
// 	}

// 	video {
// 		position: absolute;
// 		top: 8%;
// 		left: 11%;
// 		z-index: 5;
// 	}
// }

@media screen and (max-width: $tablet) {
	#laptop {
		height: 55vw;
	}

	// remove button margin on mobile
	.ml-0-mobile {
		margin-left: 0 !important;
	}
}

// displays that are too small to fit the word "Presto" on 1 line
@media only screen and (max-width: 365px) {
	html {
		font-size: small;
	}
}
